html,
body {
  margin: 0px;
  padding: 0;
}

/* @import url('~@fontawesome/fontawesome-free/css/all.css'); */

.chat-container {
  font-family: Lato;
  height: 100%;
  width: 100%;
}

.message-list {
  /* padding: 2px 5px 20px;
  margin-bottom: 70px; */
  overflow-y: scroll;
  scroll-behavior: smooth; 
}

.left {
  float: none;
  display: flex;
  flex-basis: 80%;
  width: 80%;
  padding: 3px;
}

div.user {
  margin: 0 3px 0px;
  flex-shrink: 0;
}

.letterCircle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  /* border: 2px solid #666; */
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%)
}

.left aside {
  padding: 5px;
  background-color: rgb(241, 240, 240);
  border-radius: 0px 7px 7px 7px;
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 14%);
}

.right {
  padding: 3px;
  display: flex;
  flex-direction: row-reverse;
  align-items: row-reverse;
  width: 95%;
}

.right aside {
  padding: 5px;
  background-color: rgb(241, 240, 240);
  border-radius: 7px 0 7px 7px
}

.left .chatFooter {
  font-size: xx-small;
  color: grey;
  text-align: end;
  font-family: Arial, Helvetica, sans-serif;
}

.right .chatFooter {
  font-size: xx-small;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
#chat-form {
  /* position: fixed; */
  width: 100%;
  bottom: 0px;
  padding: 3px;
  justify-content: stretch;

}

#chat-form textarea {
  height: auto;
}

#chat-form button {}

.rotate-45 {
  transform: rotate(-45deg)
}

.meetingUsers {
 display: flex;
 flex-direction: row;
}

.meetingUsers .userCircleWrapper {
  width: 20px;
}
.meetingUsers .user-circle {
  /* border: 1px solid whitesmoke;  */
}
.user-circle  {
  /* border: 1px solid whitesmoke;  */
}

.meetingHeader {
  display: flex;
  justify-content: space-between;
}
.videoCall {
  
}

.addUserToMeeting{
  background-color: white;
  border: 1px dashed grey; 
  font-size: 1.5em;
  padding-top:-1px;
}

.msgSeparator {
  color: #6EAAD8;
  font-size: .8em;
  font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.msgSeparator::before,.msgSeparator::after {
  content: "";
  background-color: #6EAAD8;
  display: block;
  flex-grow: 1;
  height: 1px;
  
  margin: 0 1em 0 1em;
}
